API_URL=http://----:---/api/
SYNC_INTERVAL_SECONDS=30
WEBSOCKET_HOST=0.0.0.0
WEBSOCKET_PORT=8765
INSIGHTFACE_MODEL=buffalo_l
FACE_MIN_DETECTION_SCORE=0.5
FACE_MATCH_DISTANCE_THRESHOLD=
FACE_DETECTION_COOLDOWN_SECONDS=5
FACE_LOG_FULL_EMBEDDING=false