# Copie este arquivo para .env antes de executar docker compose up --build.
# este é um arquivo de exemplo, que será comitado para o github, o desenvolvedor deve criar o arquivo .env com essas variaveis de ambiente porém com seus valores corretos.
# variaveis de ambiente usadas pelo container do postgres
POSTGRES_DB=----
POSTGRES_USER=----
POSTGRES_PASSWORD=----
DATABASE_URL=----

SECRET_KEY=----
SECURITY_PASSWORD_SALT=----

BACKEND_IP=----
BACKEND_PORT=----

ENV=----
FLASK_APP=----

